<ol class="post-list">
  {{#each states as |state|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{state.deaths}}" target="_blank">{{state.state}}</a>
        <span>({{deaths}})</span>
      </div>
      <div class="meta">
        {{state.cases}} point(s) by {{state.deaths}} on
        {{state.cases}}
        |
        <a href="/post/{{post.id}}">{{state.deaths.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>